@charset 'utf-8';
/*FONTSSS*/

/* TradeGothicNextLTPro Regular */
@font-face {
  font-family: TradeGothicNextLTPro;
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.eot'); /* IE9 Compat Modes */
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.svg') format('svg'), /* Legacy iOS */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.ttf') format('truetype'), /* Safari, Android, iOS */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* TradeGothicNextLTPro Bold */
@font-face {
  font-family: TradeGothicNextLTPro;
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.eot'); /* IE9 Compat Modes */
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.svg') format('svg'), /* Legacy iOS */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.ttf') format('truetype'), /* Safari, Android, iOS */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.woff') format('woff'); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

/* TradeGothicNextLTPro Bold Condensed*/
@font-face {
  font-family: TradeGothicLT;
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/Trade_Gothic_LT_Bold_Condensed_No._20.ttf') format('truetype');
  font-weight: bold;
  font-style: condensed;
}

/* TradeGothicNextLTPro Italics */
@font-face {
  font-family: TradeGothicNextLTPro;
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.eot'); /* IE9 Compat Modes */
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.svg') format('svg'), /* Legacy iOS */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.ttf') format('truetype'), /* Safari, Android, iOS */ url('//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}

/* FoundryGridnik -- Regular */
@font-face {
  font-family: FoundryGridnik;
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.eot');
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.eot?#iefix') format('embedded-opentype'), url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.woff') format('woff'), url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.ttf') format('truetype'), url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.svg#FoundryGridnikRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FoundryGridnik -- Bold */
@font-face {
  font-family: FoundryGridnik;
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.eot');
  src: url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.eot?#iefix') format('embedded-opentype'), url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.woff') format('woff'), url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.ttf') format('truetype'), url('//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.svg#FoundryGridnikRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}

prm-topbar {
  height: 100px;
}

prm-topbar img#logoImage.logo-image {
 width: 180px;
 
}
  
prm-topbar .md-button:not(.disable-hover):not(.close-btn-favorits-warning-message) {
  align-content: center;
}

.buttons-group div .md-button, .buttons-group div:first-child .md-button {
    box-shadow: none!important;
}

div#mainMenu.top-nav-bar-links.buttons-group.layout-align-center-center a {
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
}

prm-search-bar {
  background-color: #D23A35!important;
    padding-top: 60px;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

prm-brief-result-container .media-content-type {
background-color: #F6D048; 
  padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
  margin-bottom: 5px;
  color:black!important;
  font-family: 'TradeGothicNextLTPro';
  border-radius: 5px;
}


prm-brief-result .item-title span {
  color: black!important;
  font-family: inter;
} 

 prm-brief-result-container.list-item, prm-search-result-list .pages-separated-with-gaps .results-title:not(.results-title-favorites) {
  background-color: white;
}

prm-search-result-list .pages-separated-with-gaps .list-item-wrapper {
 border: none;
}

md-content.main._md.md-primoExplore-theme.padded-container.facet-to-left.layout-align-center-start.layout-row.flex, div.full-view-inner-container.flex {
  background-color: #F8F8F8;
}

prm-brief-result-container .list-item-primary-content:hover {
  cursor: pointer;
}

.prm-secondary-color.prm-hue3, .result-item-actions .pin-button, prm-search-bookmark-filter .prm-hue3.md-button, prm-topbar .prm-hue3.top-nav-bar, prm-account-overview .institutions-list md-list-item.is-selected .institution-name, prm-account-overview .institutions-list md-list-item.is-selected prm-icon, prm-more-like-this .section-title prm-icon {
  color: #9a9ca0!important;
}

prm-brief-result-container [class*="available"]>span {
  color: #00924D!important;
}

prm-brief-result-container .no_inventory {
  color: #57068c!important;
}


prm-search-result-list .pages-separated-with-gaps .list-item-wrapper {
  margin-bottom: 8px;
}

div.list-item-wrapper:hover div.list-item-primary-content::before {
  border-radius: 10px;
}

prm-search-result-list .pages-separated-with-gaps .list-item-wrapper {
  margin-bottom: 8px;
  box-shadow:  0 2px 4px rgba(0,0,0,15%);
}

prm-search-result-list .pages-separated-with-gaps .list-item-wrapper:hover
{
box-shadow:  0 2px 4px rgba(0,0,0,40%);  
}

prm-search-result-list .pages-separated-with-gaps .list-item-wrapper , prm-brief-result-container.list-item {
  border-radius: 10px;
}


div#banner.product-logo {
  align-content: center;
  margin-left: 15px;
}

prm-search-bar #searchBar {
  border-radius: 50px 0 0 50px
}

prm-search-bar .simple-search-wrapper md-autocomplete-wrap, prm-search-bar .simple-search-wrapper .search-actions .md-button {
  background-color: transparent;
    min-width: 60px;
    border-radius: 50px;
}

.__gt-xs prm-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper {
  box-shadow: none;
  border: solid 1px black;
  border-radius: 50px;
}

prm-search-bar .search-element-inner {
  border-radius: 50px;
}


prm-resource-type-filter-bar button.resource-type-option.md-button.md-primoExplore-theme.md-ink-ripple.selectedResourceTypeOption {
  border: solid 1px black;
}


@media only screen and (max-width: 1025px) {
  div.search-options {
    display: none!important;
  }
}

prm-search-bookmark-filter a#searchHistory:not(:hover), prm-search-bookmark-filter a#favorites-button:not(:hover) {
  background-color: white;
  border: solid 1px black;
  color: #363639;
}

.section-content .md-chips .md-chip.wrapping-chip+.md-chip:has(span[title="New York Historical Society"]), .section-content .md-chips .md-chip.wrapping-chip+.md-chip:has(span[title="New York University Abu Dhabi"]), .section-content .md-chips .md-chip.wrapping-chip+.md-chip:has(span[title="New York University Shanghai"]),.section-content .md-chips .md-chip.wrapping-chip+.md-chip:has(span[title="New York University Health Sciences"]){
  display: none;
}


[data-facet-group="institution"] md-checkbox {visibility:hidden;  }

.md-chip-content:has(span[title="The New School"]) md-checkbox:before {
display: inline-block;
  content: "";
    background-image: url(https://library.newschool.edu/sites/default/files/favicon_32x32.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}

.md-chip-content:has(span[title="Cooper Union"]) md-checkbox:before {
display: inline-block;
  content: "";
    background-image: url(https://cooper.edu/themes/custom/cooper/favicon.ico);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}

.md-chip-content:has(span[title="New York University - New York"]) md-checkbox:before {
display: inline-block;
  content: "";
    background-image: url(https://cdn.library.nyu.edu/images/favicon.ico);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}


.md-chip-content:has(span[title="New York School of Interior Design"]) md-checkbox:before {
display: inline-block;
  content: "";
    background-image: url(https://images.squarespace-cdn.com/content/v1/5936fbebcd0f68f67d5916ff/4ad4581b-564c-45bc-a2d0-b72634b05551/favicon.ico?format=100w);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}


div.flex-order-2.flex {
    margin-left: 2em;
}

.sidebar-inner-wrapper {
 padding-left: 2em;
  background-color: white;
  box-shadow: 1px;
}

md-content.main._md.md-primoExplore-theme.padded-container.facet-to-left.layout-align-center-start.layout-row.flex {
  padding-left: 0;
}

prm-facet .primo-scrollbar.is-stuck, prm-facet .primo-scrollbar, md-toolbar {
box-shadow: 0 2px 4px rgba(0, 0, 0, 20%);
    border-radius: 10px;
}

h2.sidebar-title {
  background-color: black;
  padding: 1em;
  margin-left: -3em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

.tab-content-header.margin-bottom-small.margin-left-medium.layout-row.layout-align-space-between-end p.ng-binding.ng-scope.zero-margin span[ng-if="$ctrl.currLoc.location.callNumber"] {
    visibility: hidden;
}