@charset 'utf-8';
/*FONTSSS*/

/* TradeGothicNextLTPro Regular */
@font-face {
    font-family: "TradeGothicNextLTPro";
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.eot");
    /* IE9 Compat Modes */
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.svg") format("svg"),
        /* Legacy iOS */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Rg.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* TradeGothicNextLTPro Bold */
@font-face {
    font-family: "TradeGothicNextLTPro";
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.eot");
    /* IE9 Compat Modes */
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.svg") format("svg"),
        /* Legacy iOS */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-Bd.woff") format("woff");
    /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}

/* TradeGothicNextLTPro Bold Condensed*/
@font-face {
    font-family: "TradeGothicLT";
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/Trade_Gothic_LT_Bold_Condensed_No._20.ttf") format("truetype");
    font-weight: bold;
    font-style: condensed;
}

/* TradeGothicNextLTPro Italics */
@font-face {
    font-family: "TradeGothicNextLTPro";
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.eot");
    /* IE9 Compat Modes */
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.eot?#iefix") format(“embedded-opentype”),
        /* IE6-IE8 */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.svg") format("svg"),
        /* Legacy iOS */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("//libapps.s3.amazonaws.com/sites/11117/include/TradeGothicNextLTPro-It.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: italic;
}

/* FoundryGridnik — Regular */
@font-face {
    font-family: "FoundryGridnik";
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.eot");
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.woff") format("woff"), url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.ttf") format("truetype"), url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-regular-webfont.svg#FoundryGridnikRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* FoundryGridnik — Bold */
@font-face {
    font-family: "FoundryGridnik";
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.eot");
    src: url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.woff") format("woff"), url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.ttf") format("truetype"), url("//libapps.s3.amazonaws.com/sites/11117/include/foundrygridnik-bold-webfont.svg#FoundryGridnikRegular") format("svg");
    font-weight: bold;
    font-style: normal;
}

prm-topbar img#logoImage.logo-image {
    width: 180px;
}

prm-topbar .md-button:not(.disable-hover):not(.close-btn-favorits-warning-message) {
    align-content: center;
}

.buttons-group div .md-button,
.buttons-group div:first-child .md-button {
    box-shadow: none !important;
}

div#mainMenu.top-nav-bar-links.buttons-group.layout-align-center-center a {
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
}

prm-search-bar {
    background-color: #D23A35 !important;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    border: 1px solid white;
    border-radius: 10px !important;
    padding-left: 20px;
    padding-right: 20px;
}

prm-brief-result-container .media-content-type {
    background-color: #F6D048;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: black !important;
    font-family: "TradeGothicNextLTPro";
    border-radius: 10px !important;
}


prm-brief-result .item-title span {
    color: black !important;
}

md-content.main._md.md-primoExplore-theme.padded-container.facet-to-left.layout-align-center-start.layout-row.flex,
div.full-view-inner-container.flex {
    background-color: #F8F8F8;
}

.prm-secondary-color.prm-hue3,
.result-item-actions .pin-button,
prm-search-bookmark-filter .prm-hue3.md-button,
prm-topbar .prm-hue3.top-nav-bar,
prm-account-overview .institutions-list md-list-item.is-selected .institution-name,
prm-account-overview .institutions-list md-list-item.is-selected prm-icon,
prm-more-like-this .section-title prm-icon {
    color: #9a9ca0 !important;
}

md-list-item.md-2-line {
    min-height: 50px!important;
}

prm-brief-result-container [class*="available"] > span {
    color: #00924D !important;
}

prm-brief-result-container .no_inventory {
    color: #57068c !important;
}

div#banner.product-logo {
    align-content: center;
    margin-left: 15px;
}

prm-search-bar .simple-search-wrapper md-autocomplete-wrap,
prm-search-bar .simple-search-wrapper .search-actions .md-button {
    background-color: transparent;
    min-width: 60px;
    border-radius: 50px;
}

.__gt-xs prm-search-bar .search-elements-wrapper.simple-mode .simple-search-wrapper {
    box-shadow: none;
    border: solid 1px black;
    border-radius: 50px;
}


@media only screen and (min-width: 600px) {
    prm-search-bar #searchBar {
        border-radius: 50px 0 0 50px
    }

    prm-search-bar .search-element-inner {
        border-radius: 50px;
    }

    prm-search-bar {
        padding-top: 60px;
    }
}

prm-topbar {
    height: 100px;
}


prm-resource-type-filter-bar button.resource-type-option.md-button.md-primoExplore-theme.md-ink-ripple.selectedResourceTypeOption {
    border: solid 1px black;
}

/*
@media only screen and (max-width: 1025px) {
  div.search-options {
    display: none!important;
  }
}*/

prm-search-bookmark-filter a#searchHistory:not(:hover),
prm-search-bookmark-filter a#favorites-button:not(:hover) {
    background-color: white !important;
    border: solid 1px black;
    color: #363639;
}

.section-content .md-chips .md-chip.wrapping-chip + .md-chip:has(span[title="New York Historical Society"]),
.section-content .md-chips .md-chip.wrapping-chip + .md-chip:has(span[title="New York University Abu Dhabi"]),
.section-content .md-chips .md-chip.wrapping-chip + .md-chip:has(span[title="New York University Shanghai"]),
.section-content .md-chips .md-chip.wrapping-chip + .md-chip:has(span[title="New York University Health Sciences"]) {
    display: none;
}


[data-facet-group="institution"] md-checkbox {
    visibility: hidden;
}

.md-chip.animate-opacity-and-scale.facet-element-marker-tlevel.wrapping-chip.facet-title-row:has(span[title="Open Access"]),
div.md-chip.animate-opacity-and-scale.facet-element-marker-tlevel.wrapping-chip.facet-title-row:has(span[title="Peer-reviewed Journals"]) {
    display: none;
}

.md-chip-content:has(span[title="The New School"]) md-checkbox:before {
    display: inline-block;
    content: "";
    background-image: url(https://library.newschool.edu/sites/default/files/favicon_32x32.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}

.md-chip-content:has(span[title="Cooper Union"]) md-checkbox:before {
    display: inline-block;
    content: "";
    background-image: url(https://cooper.edu/themes/custom/cooper/favicon.ico);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}

.md-chip-content:has(span[title="New York University - New York"]) md-checkbox:before {
    display: inline-block;
    content: "";
    background-image: url(https://cdn.library.nyu.edu/images/favicon.ico);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}


.md-chip-content:has(span[title="New York School of Interior Design"]) md-checkbox:before {
    display: inline-block;
    content: "";
    background-image: url(https://images.squarespace-cdn.com/content/v1/5936fbebcd0f68f67d5916ff/4ad4581b-564c-45bc-a2d0-b72634b05551/favicon.ico?format=100w);
    background-size: 20px;
    width: 20px;
    height: 20px;
    visibility: visible;
    margin-top: 2px;
}


div.flex-order-2.flex {
    margin-left: 2em;
}

.sidebar-inner-wrapper {
    padding-left: 2em;
    background-color: white;
    box-shadow: 1px;
}

md-content.main._md.md-primoExplore-theme.padded-container.facet-to-left.layout-align-center-start.layout-row.flex {
    padding-left: 0;
}

prm-facet .primo-scrollbar.is-stuck,
prm-facet .primo-scrollbar,
md-toolbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 20%);
    border-radius: 10px !important;
}

h2.sidebar-title {
    background-color: black;
    padding: 1em;
    margin-left: -3em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.tab-content-header.margin-bottom-small.margin-left-medium.layout-row.layout-align-space-between-end p.ng-binding.ng-scope.zero-margin span[ng-if="$ctrl.currLoc.location.callNumber"] {
    visibility: hidden;
}


div[ng-if="$ctrl.getPnx().display.lds51.length > 0"]:has(a[onclick="findingAidsLinkClickHandler( event )"]) {
    margin: 10px;
}

a[onclick="findingAidsLinkClickHandler( event )"] {
    background-color: #00AEEF;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #363639;
    border: 1px solid #363639;
    box-shadow: -1px 4px 8px 0 gray;
}

a[onclick="findingAidsLinkClickHandler( event )"]:hover {
    text-decoration: underline;
}

button.button-as-link.md-button.md-primoExplore-theme.md-ink-ripple.button-external-link {
    border: 1px solid;
    border-radius: 10px !important;
    padding-left: 8px;
    padding-right: 8px;
}


prm-brief-result-container .list-item-primary-content:before,
.prm-hover-list-element-bg,
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper,
md-list,
div.neutralized-button.layout-full-width.layout-display-flex.md-button.md-ink-ripple.layout-row.flex {
    border: none;
    background-color: transparent !important;
    color: revert !important;
    cursor: pointer;
    border-radius: 10px !important;
}

md-dialog md-list md-list-item .md-button:hover:not([disabled]).neutralized-button,
.md-button.neutralized-button:hover,
.md-button.neutralized-button:focus,
alma-howovp .neutralized-button:hover.md-button {
    border: none;
    background-color: white !important;
    color: revert !important;
    cursor: pointer;
    border-radius: 10px !important;
    box-shadow: none;
}


md-list,
md-list:hover {
    box-shadow: none !important;
}


.list-item,
md-list-item {
    box-shadow: -4px 3px 5px 0 rgba(0, 0, 0, 15%) !important;
    border: 1px solid lightgray;
    border-radius: 10px !important;
    background-color: white !important;
    margin-top: 10px !important;
    width: calc(100% - 10px);
    left: 10px;

}

.list-item:hover,
md-list-item:hover {
    box-shadow: -4px 3px 5px 0 rgba(0, 0, 0, 45%) !important;
    border: 1px solid lightgray;
    border-radius: 10px !important;
    background-color: white !important;
}


prm-alma-other-members .md-list-item-text p.inst-name {
    padding-top: 10px;
    height: calc(100% - 10px)
}

div.layout-align-start-stretch.layout-column:has(span.item-not-available) prm-form-field, div:has(span.item-not-available) + div.layout-align-end-stretch.layout-column {
    display: none;
}

.bar.alert-bar:has([translate="brief.results.tabs.Get_it_from_other_locations_no_services"]) {
    background-color: white;
    border-color: #00ADEF;
    color: black;
}


/* This hides floating UX report button */

prm-report-problem {
    display: none
}


/*basic chat buttton shape and formatting */
button.s-lch-widget-float-btn {
    display: flex;
    font-family: inter;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 8px 8px 5px rgba(10, 10, 10, 38%);
   opacity: 90%;
    flex-wrap: nowrap;
    align-items: center;
    height: 20%;
}

/*Make Chat button Responsive*/
@media only screen and (min-width: 600px) {
/*basic shape and formatting */
button.s-lch-widget-float-btn {
    width: 175px;
    height: 70px;
    align-items: normal;
}
}
@media only screen and (max-width: 599px) {
        button.s-lch-widget-float-btn {
         aspect-ratio: 1 / 1; 
}
}

/*online indicator (green circle)*/
button.s-lch-widget-float-btn.online svg:has(title#s-lch-widget-float-img-title) {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #00924D;
    border-radius: 50%;
}

/*NOT online indicator (red circle)*/
button.s-lch-widget-float-btn:not(.online) svg:has(title#s-lch-widget-float-img-title) {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #a94442;
    border-radius: 50%;
}

/*Make Chat button Location Responsive (green and red circles)*/
@media only screen and (min-width: 600px) {
button.s-lch-widget-float-btn.online svg:has(title#s-lch-widget-float-img-title), button.s-lch-widget-float-btn:not(.online) svg:has(title#s-lch-widget-float-img-title) {
    margin-left: 150px;
    margin-bottom: 45px;
}}

@media only screen and (max-width: 599px) {
button.s-lch-widget-float-btn.online svg:has(title#s-lch-widget-float-img-title), button.s-lch-widget-float-btn:not(.online) svg:has(title#s-lch-widget-float-img-title) {
        margin-left: 30px;
        margin-bottom: 50px;
}}


/* Hide Springshare canned images */
button.s-lch-widget-float-btn svg:has(title#s-lch-widget-float-img-title) path {
    display: none;
}

@media only screen and (min-width: 600px) {
/*Add Cooper Logo*/
.s-lch-widget-float-btn:before {
    content: url(https://d2jv02qf7xgjwx.cloudfront.net/sites/11117/include/Cooper_Union_profile.svg);
    width: 50px;
    height: 50px;
    border: 2px solid #E6EFF3;
    border-radius: 50px;
    margin-bottom: 4px;
}
.s-lch-widget-float-btn.online:after, .s-lch-widget-float-btn:not(*.online):after {
        margin-left: 10px;
}
}

.s-lch-widget-float-btn.online:after {
    content: "LIVE CHAT";
    width: fit-content;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 599px) {
     .s-lch-widget-float-btn.online:after, .s-lch-widget-float-btn.online:after {
        line-height: 1.25em;
        font-size: 12px;
}     
}

.s-lch-widget-float-btn:not(*.online):after {
    content: "ASK US";
    width: fit-content;
    display: flex;
    align-items: center;
}


iframe#iframe_348801bb326eba314a7204d7663bd50be83f1ede5f5cdfbe82126b466e98ddcf {
    width: 110%;
        border: none;
    box-shadow: none;
}


iframe#iframe_348801bb326eba314a7204d7663bd50be83f1ede5f5cdfbe82126b466e98ddcf div#file.chatpane#file {
    background-color: white;
}


/*iframe#iframe_348801bb326eba314a7204d7663bd50be83f1ede5f5cdfbe82126b466e98ddcf div#file {
	background-color: white;
}*/